# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.coverage

# Entornos / variables
.venv/
.env
.env.*
.env.local

# VCS / editor
.git/
.gitignore
.gitattributes
.vscode/
.idea/

# Node (si hay scripts)
node_modules/

# OS
.DS_Store
Thumbs.db

# Artefactos
dist/
build/
docs/
tests/
*.log
